$main-color: #463aef;
$secondary-color: #111940;
// $background-color: #f1f0f5;
$background-color: #fafafa;

$container-width: 1280px;

$layout-width-desktop: 120rem;
$layout-width-laptop-large: 100rem;
$layout-width-laptop-medium: 85rem;
$layout-width-laptop-small: 75rem;
$layout-width-tablet-large: 60rem;
$layout-width-tablet-medium: 46rem;
$layout-width-tablet-small: 35rem;
$layout-width-mobile: 32rem;
